*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    background: radial-gradient(rgb(255, 255, 255),#ffffff);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}




nav{
    
    text-align: right;
    flex: 1;

}

nav ul{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

nav ul li{
    
    display: inline-block;
    margin-right: 20px;
   
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555; 
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 40px 0;
}

.col-2 h1{
    font-size: 70px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p{
    font-size: 40px;
    line-height: 20px;
    margin: 25px 0;
   
}